@import "normalize.css";

@import "header";
@import "button";
@import "dropdown";
@import "table";
@import "input";

@import "./utils";

//noinspection CssUnknownTarget
@import url(https://fonts.googleapis.com/css?family=Roboto:400&display=swap);
body{
  font-family: 'Roboto', 'San Francisco Pro', 'San Francisco', 'Segoe UI', sans-serif;
  font-style: normal;
  font-weight: 400;
}
