.button {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 15px;

  color: white;
  text-decoration: none;

  background-color: #222222;

  &:hover {
    background-color: #333333;
  }
}
